/* Basislayout */

html, body {
    height: 100%;
    padding: 0;    
    color: blue;
    font-family: Arial;
}

body {
    background-image: url("afbeeldingen/minecrafthdbg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: right;
    font-size: 1.2em;
}


header {
    color:#000000;
    text-align: center;
}




footer {
    text-align: center;
    padding-bottom: 10px;
    clear: both;
    color: aliceblue
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-left: 0px;
}

.smalltext {
    font-size: 1.0em;
}

a {
    color: #073E21;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #000000;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color:#1CB53B;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #3b8f27;
}

nav li a.active {
    background-color: rgb(69, 255, 106);
    color:#073E21
}

img {
    width: 25%;
}


article p {
    float: left;
    width: 67%;
}